<launch>
	<!--<arg name="veh" doc="Name of vehicle. ex: duckiebot"/>
	<node name="joy_cli" pkg="joy_cli" type="joy_cli.py" output="screen">
		<param name="~veh" value="$(arg veh)"/>
	</node>-->
	<arg name="veh" value="$(env DUCKIEBOT_NAME)" doc="Name of vehicle. ex: duckiebot"/>

	<node ns="$(arg veh)" name="aimodule" pkg="aimodule" type="ai.py" output="screen">
		<param name="~veh" value="$(arg veh)"/>
	</node>

</launch>
