<launch>
	<!--<arg name="veh" doc="Name of vehicle. ex: duckiebot"/>
	<node name="joy_cli" pkg="joy_cli" type="joy_cli.py" output="screen">
		<param name="~veh" value="$(arg veh)"/>
	</node>-->

	<arg name="veh" doc="Name of vehicle. ex: duckiebot" value="$(env DUCKIEBOT_NAME)"/>

	<node ns="$(arg veh)" name="joy_cli" pkg="joy_cli" type="motor_donkey.py" output="screen">
		<param name="~veh" value="$(arg veh)"/>
	</node>

	<node ns="$(arg veh)" name="sensehat" pkg="joy_cli" type="sensehat.py" output="screen">
	    <param name="~veh" value="$(arg veh)" />
	</node>

	<node ns="$(arg veh)" name="colorsensor" pkg="joy_cli" type="color_sensor.py" output="screen">
        <param name="~veh" value="$(arg veh)" />
    </node>
</launch>
